.content{
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
*{ box-sizing: border-box;}

.row::after{
  content: "";
  clear: both;
  display: table;
}
.header{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 2%, rgba(3,54,73,1) 100%);
  width: 1100px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smallpics{
  opacity: 1;
  width: 1100px;
  height: 240px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
.smallpics img {
  padding: 5px 28px 5px 28px;
  width: auto;
  height: 200px;
  animation: zoom-out 2s ;
  transition: transform linear;
}

@keyframes zoom-out {
  0% {
    transform: scale(1.7, 1.7);
  }
  100% {
    transform: scale(1, 1);
  }
}



.menu{
visibility: visible!important;
position: -webkit-sticky;
position: sticky;
z-index: 3;
top: 0;
width: 1100px;
background-color: white;
gap: 20px;
display: flex;
flex-direction: row;
justify-content: center;
border-top: 1px rgb(216, 213, 213) solid;
border-bottom: 1px rgb(216, 213, 213) solid;
}

.menu a{
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: #343333;
  font-family: GTEestiDisplay-Regular,Calibri,Arial,sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
}
.menu a:hover{
  color: aliceblue;
  background-color: black;
  transition: 1s;
}
.contactbutton , .homebutton , .electricbuttons{
  padding: 7px 10px 6px 10px;
}
.contactbutton a{
  font-family: GTEestiDisplay-Regular,Calibri,Arial,sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}
.contactbutton a:hover{
  color: aliceblue;
  background-color: rgb(165, 216, 231);
  transition: 1s;
}


body:after,
footer:after,
.container:after {
  content:"";
  display:block;
  clear:both;
}
body{
  position: relative;
  padding-bottom:280px;
}
/* START Style BOX uri */

.container{
    position:relative;
    z-index:2;
    width: 1100px;
    height:auto;
    background-color: white;
    padding-top: 20px;
}
.bigbox{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.h4bigbox {
  display: none;
}
.box1{
  width: 25%;
}
.box2{
  width: 75%;
}
.box2-1{
  display: flex;
  flex-wrap: wrap;
}
.box2 h4{
  margin-top: 0;
  font-size: 18px;
}
.box2-1 h5{
  width: 15%;
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Lato',sans-serif !important;
  margin-top: 2px;
}
.box2-1 p{
  width: 85%;
}
p{
  font-size: 14px;
  font-family: GTEestiDisplay-Regular,Calibri,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  margin:0;
}
.container img:hover{
  transform: scale(1.7, 1.7);
  transition: 1s;
  border-radius: 10px;
}
/* STOP Style BOX uri */


/* START COLLAPSIBLE */
.button {
  background-color: rgb(243, 241, 241);
  color: rgb(92, 88, 88);
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  border-top: 1px solid rgb(192, 183, 183);
  text-align: left;
  font-family: GTEestiDisplay-Regular,Calibri,Arial,sans-serif;
  font-size: 18px;
}
.active, .button:hover {
  background-color: rgb(212, 211, 211);
}
.active:not(:hover){
  background-color: rgb(212, 211, 211);
}
.button:after {
  content: '\002B';
  color: rgb(92, 88, 88);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}
.collapsible {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: #ffffff;
}
.collapsible h6{
  font-family: GTEestiDisplay-Regular,Calibri,Arial,sans-serif;
  font-size: 13px;
  margin: 0;
  padding-right: 20px;
  }
.collapsible p{
  font-family: GTEestiDisplay-Regular,Calibri,Arial,sans-serif;
  font-size: 12px;
  margin: 0;
  margin-top: 1px;
  padding-bottom: 4px;
}
.collapsible-col1 h6{
  font-family: GTEestiDisplay-Regular,Calibri,Arial,sans-serif;
  font-size: 13px;
  margin: 0;
  padding-top: 2.3px;
}
.collapsible-col2 p{
  font-family: GTEestiDisplay-Regular,Calibri,Arial,sans-serif;
  font-size: 12px;
  margin: 0;
}

/* STOP COLLAPSIBLE */


/* START Style IMAGE SLIDE */
.mySlidesES1 {display: none}
.mySlidesES2 {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #033649;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev{
  left: 0;
}
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  color: white;
  background-color: rgba(0,0,0,0.8);
}
.dotES1 , .dotES2 {
  color: transparent;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #4e4e4e;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* STOP Style IMAGE SLIDE */

.footer {
  width:1100px;
  display:flex;
  flex-direction: row;
  position:fixed;
  z-index:1;
  height:280px;
  bottom:0;
  padding:15px;
  background:#033649;
  color:#ffffff;
}
.footercol{
  width: fit-content;
  padding: 2px 25px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.footercol h3{
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Lato',sans-serif !important;
 font-size: 1.1rem;
 margin: 0%;
 
}
.footercol a{
  font-family: 'Lato',sans-serif !important;
  color: #ffffff;
    font-size: 11px;
    padding: 3px 0px;
    text-decoration: none;
    cursor: pointer;
}
.footercol a:hover{
  text-decoration: underline;
}

.hr1 {
  border-top:#95c8db 1px solid;
  margin: 0;
  padding: 0;
}
.hr2 {
  width: 30%;
  border-radius: 5px;
  border-top:#0ab1ef solid 3px ;
  margin: -1px;
  padding: 0;
}

/* MOBILE .............................................................. */

@media only screen and (max-width:600px) {
  .content , .header, .smallpics{
    width: 100%;
  }
  
  
  .smallpics img {
    padding: 1px 8px 1px 8px;
    height: 80px;
  }
  .menu{
    width: 100%;
    gap: 1px;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
  }
  .homebutton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
  }
  .electricbuttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin: 0%;
    padding: 0%;
    border-top: 1px rgb(216, 213, 213) solid;
    border-bottom: 1px rgb(216, 213, 213) solid;
  }
  .electricbuttons a{
    text-align: center;
    width: 100%;
  }
  .contactbutton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
  }
  
.container{
  position:relative;
  z-index:2;
  width: 100%;
  height:auto;
  background-color: white;
  padding-top: 20px;
}
.bigbox{
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.h4bigbox {
  display:block;
  text-align: center;
}
.box1{
  width: 100%;
  padding: 0% 25px 0% 25px;
}
.box2{
  width: 100%;
  padding: 0% 25px 0% 25px;
}
.box2 h4{
  display: none;
}
.footer {
  width:95%;
  margin-left: auto;
  margin-right: auto;
  }
}

